registry=https://registry.npmmirror.com/
sass_binary_site=https://npmmirror.com/mirrors/node-sass
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/
PYTHON_MIRROR=https://npmmirror.com/mirrors/python
always-auth=true
strict-ssl=false
shamefully-hoist=true
